// * colors
$primary:#00aeff;
$success:#00ffb3;
$danger:#ff2600;
$warning:#ffc400;
$dark:#161616;
$light:#f3f3f3;
// * End colors

// * fonts
$Noto-Sans:'Noto Sans', sans-serif;
$Noto-Sans-JP:'Noto Sans JP', sans-serif;
$Poppins:'Poppins', sans-serif;
$Roboto:'Roboto', sans-serif;;
// * End fonts