<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/sass/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/">
          <h4>Atharva</h4>
        </a>
      </div>
      <div class="nav">
        <li><a href="">home</a></li>
        <li><a href="">about</a></li>
        <li><a href="">services</a></li>
        <li><a href="">blog</a></li>
        <li><a href="">other</a></li>
        <li><a href="">contact</a></li>
      </div>
    </nav>
  </body>
  <script src="/static/javascript/app.js"></script>
</html>
